
.header {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    font-size: 30px;
    margin-top: -70px;
    color: rgba(250, 235, 215, 0.9);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    @media (max-width: 600px) {
        margin-top: -80px;
    };
    @media (max-width: 455px) {
        margin-top: -120px;
    }
}

.title {
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    margin-left: 10px;
    width: 60px;
    height: 60px;
    @media (max-width: 455px) {
        width: 90px;
        height: 90px;
    }
}

.buttons button img{
    width: 85%;
}

.mark {
    color: rgb(255, 230, 0);
    display: inline-block;
}