.buttonPad {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
}

.secretVendor {
    color: black;
    background-color: rgb(255, 230, 0);
    box-shadow: 0 0 5px rgb(255, 230, 0);
}

.activeButton {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.9);
    outline: none;
    color: rgb(0, 0, 0);
}

button:disabled {
    color: #525252;
    background-color: rgb(160, 150, 137);
}